# Node.js
node_modules/
npm-debug.*
yarn-error.log

# Lock files
package-lock.json
yarn.lock

# Mobile development
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Expo
.expo/
.metro-health-check*

# macOS shit
.DS_Store

# IDE-related
.idea/
.vscode/
